spring:
  application:
    name: metrics-api

  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/product_db
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

# Customizes the path for the Swagger UI
springdoc:
  swagger-ui:
    path: /swagger-ui-custom.html
  api-docs:
    path: /api-docs

server:
  port: 8080
  shutdown: graceful

# Metrics
management:
  endpoints:
    enabled-by-default: false # desabilita background metricas
    web:
      exposure:
        include: "health,prometheus,metrics" # expoem o endpoint so das metricas habilitadas
  endpoint:
    prometheus:
      enabled: true
    metrics:
      enabled: true
    health:
      enabled: true
      show-details: always
  server:
    port: 8080 # porta do health/prometheus (heartbeat api)